.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--space-9);
  padding: var(--space-2) var(--space-3);
  font-family: inherit;
  font-size: var(--text-sm);
  white-space: nowrap;
  background: transparent;
  border: 1px solid hsl(var(--input));
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}

.trigger:focus {
  outline: 1px solid hsl(var(--ring));
}

.trigger:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.trigger > span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trigger[data-placeholder] {
  color: hsl(var(--muted-foreground));
}

.triggerIcon {
  width: 1rem;
  height: 1rem;
  opacity: 50%;
}

.scrollButton {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  padding: var(--space-1) 0;
  backdrop-filter: blur(4px);
  background-color: hsl(var(--popover) / 95%);
}

.scrollUpButton {
  top: 0;
}

.scrollDownButton {
  bottom: 0;
}

.scrollButtonIcon {
  width: 1rem;
  height: 1rem;
}

.content {
  position: relative;
  z-index: 50;
  max-height: var(--radix-select-content-available-height);
  min-width: 8rem;
  transform-origin: var(--radix-select-content-transform-origin);
  overflow: hidden auto;
  border-radius: var(--radius-md);
  border: 1px solid hsl(var(--border));
  box-shadow: var(--shadow-md);
  color: hsl(var(--popover-foreground));
  background-color: hsl(var(--popover));
}

.contentPopper[data-side='bottom'] {
  transform: translateY(var(--space-1));
}

.contentPopper[data-side='top'] {
  transform: translateY(calc(-1 * var(--space-1)));
}

.contentPopper[data-side='left'] {
  transform: translateX(calc(-1 * var(--space-1)));
}

.contentPopper[data-side='right'] {
  transform: translateX(var(--space-1));
}

.viewport {
  padding: var(--space-1);
}

.viewportPopper {
  height: var(--radix-select-trigger-height);
  width: 100%;
  min-width: var(--radix-select-trigger-width);
}

.label {
  padding: var(--space-1-5) var(--space-2);
  font-size: var(--text-sm);
  font-weight: 600;
}

.item {
  position: relative;
  display: flex;
  width: 100%;
  cursor: default;
  align-items: center;
  padding: var(--space-1-5) var(--space-8) var(--space-1-5) var(--space-2);
  font-size: var(--text-sm);
  outline: none;
  user-select: none;
  border-radius: var(--radius-sm);
}

.item[data-disabled] {
  pointer-events: none;
  opacity: 50%;
}

.item:focus {
  color: hsl(var(--accent-foreground));
  background-color: hsl(var(--accent));
}

.itemIndicatorWrapper {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.875rem;
  height: 0.875rem;
}

.itemIndicatorIcon {
  width: 1rem;
  height: 1rem;
}

.separator {
  margin: var(--space-1) calc(-1 * var(--space-1));
  height: 1px;
  background-color: hsl(var(--muted));
}
