# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Cache
.cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
