.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-1);
  padding: var(--space-1-5) var(--space-1);
  border-radius: 0.25rem;
  transition: all 0.15s;
}

@media (width >= 640px) {
  .row {
    gap: var(--space-4);
    padding: var(--space-2);
  }
}

.row::before {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: '';
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--color-row-hover-mid) 50%,
    transparent 100%
  );
  border-radius: inherit;
  opacity: 0%;
  transition: opacity 0.2s ease;
}

.row:hover::before {
  opacity: 50%;
}

.unitName {
  min-width: 0;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-family: var(--font-heading);
  color: var(--color-text-muted);
}

.fullName {
  display: inline;
}

.shortName {
  display: none;
}

@media (width <= 399px) {
  .fullName {
    display: none;
  }

  .shortName {
    display: inline;
  }
}
