.wrapper {
  display: inline-flex;
  align-items: center;
}

.tooltip {
  position: fixed;
  inset: auto auto anchor(top) anchor(center);
  z-index: 50;
  width: max-content;
  max-width: var(--space-56);
  margin: 0;
  padding: var(--space-1) var(--space-2);
  font-family: inherit;
  font-size: var(--text-xs);
  line-height: 1.375;
  background-color: var(--color-background-popover);
  color: var(--color-text-main);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 8px hsl(0deg 0% 0% / 40%);
  opacity: 0%;
  pointer-events: none;
  transition: opacity 0.15s;
  translate: -50% -6px;
}

.wrapper:hover .tooltip {
  opacity: 100%;
  transition-delay: 300ms;
}
