.controls {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.controls_flipped {
  flex-direction: row-reverse;
}

.upgrade {
  width: var(--control-size);
  height: var(--control-size);
}

.upgradeButton_active {
  color: var(--color-accent);
  border-color: var(--color-accent-70);
}

.input {
  --color-accent-70: unset;
  --color-accent-10: unset;
}
